@page "/settings"

@using MaintenanceLog.Client.Components.Admin.TaskTypes
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Settings</PageTitle>

<h3>Task Types</h3>
<p>
    Separate your tasks into different types to help organize and categorize.
    Create different schedules based on type.
</p>
<TaskTypeGrid />

<br />
<hr />
<br />

<h3>Reset</h3>
<p>
    Reset the application to its default state. Select which types in the modal you'd like to reset to defaults.
</p>
<ResetModal OnReset=HandleReset />

@code 
{
    private void HandleReset()
    {
        // ... do something
        // perhaps look at CascadingValues instead to force a refresh of the TaskTypeGrid
        // https://stackoverflow.com/a/69667744 
        // if I change the cascading binded value, it'll automatically refresh the child component via OnParametersSet event
    }
}