@page "/properties/add"

@using MaintenanceLog.Data.Entities
@using MaintenanceLog.Data.Services.Contracts

@inject IPropertyService PropertyService
@inject NavigationManager NavigationManager

<PageTitle>Add Property</PageTitle>

<MenuBreadcrumbs Breadcrumbs=@Breadcrumbs />
<br />

<h3>Add Property</h3>

<EditForm Model="@property" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Name</label>
        <InputText id="name" class="form-control" @bind-Value="@property.Name" />
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <InputText id="description" class="form-control" @bind-Value="@property.Description" />
    </div>

    <!-- button to save -->
    <button type="submit" class="btn btn-primary">Save</button>

</EditForm>


@code {
    private Property property = new Property()
        {
            Name = string.Empty
        };

    private List<(string, string?)> Breadcrumbs =>
    [
        ("Properties", "/properties"),
        ("Add Property", null)
    ];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private async Task HandleValidSubmit()
    {
        var createdProperty = await PropertyService.AddAsync(property);
        if (createdProperty != null)
        {
            NavigationManager.NavigateTo("/properties");
        }
    }

}
