@page "/properties/{PropertyId:int}"

@using Microsoft.AspNetCore.Authorization
@using MaintenanceLog.Client.Components.Admin.Areas
@using MaintenanceLog.Data.Entities
@using MaintenanceLog.Data.Services

@inject IPropertyService PropertyService

@attribute [Authorize]

<PageTitle>Manage @propertyName</PageTitle>

<MenuBreadcrumbs Breadcrumbs=@Breadcrumbs />
<br />

<h2>Manage @propertyName</h2>
<hr />

<h3>Areas</h3>
<AreaGrid PropertyId="@PropertyId" />

<h3>Assets</h3>
@* <AssetGrid PropertyId="@PropertyId" /> *@

@code
{

    [Parameter] public int PropertyId { get; set; }
    private Property? property;

    private List<(string, string?)> Breadcrumbs => 
    [
        ("Properties", "/properties"),
    (propertyName, null)
    ];

    private string propertyName => property?.Name ?? "Property";

    protected override async Task OnInitializedAsync()
    {
        property = await PropertyService.FindAsync(PropertyId);
    }

}
