@page "/"
@using MaintenanceLog.Client.Components.TaskInstances

@inject Blazored.LocalStorage.ILocalStorageService LocalStorage


<PageTitle>Maintenance Log</PageTitle>

<h1>Maintenance Logs</h1>

<AuthorizeView>
    <NotAuthorized>
        Sign in to get started.
    </NotAuthorized>
    <Authorized>
        Hello @context.User.Identity?.Name!

        <h2 class="pt-4">Tasks</h2>
        <input type="checkbox" @bind-value="onlyActive" @bind-value:after="OnOnlyActiveChanged" /> Only Active
        <TaskInstanceGrid OnlyShowActive="onlyActive" />
    </Authorized>
</AuthorizeView>

@code
{
    private bool? onlyActive = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //onlyActive = await LocalStorage.GetItemAsync<bool?>("onlyActive");
    }

    private async Task OnOnlyActiveChanged()
    {
        //await LocalStorage.SetItemAsync("onlyActive", onlyActive);
    }
}
