@page "/"

<PageTitle>Maintenance Log</PageTitle>

<h1>Maintenance Logs</h1>

<AuthorizeView>
    <NotAuthorized>
        Sign in to get started.
    </NotAuthorized>
    <Authorized>
        Hello @context.User.Identity?.Name!
    </Authorized>
</AuthorizeView>


