@page "/"
@using MaintenanceLog.Client.Components.TaskInstances

<PageTitle>Maintenance Log</PageTitle>

<h1>Maintenance Logs</h1>

<AuthorizeView>
    <NotAuthorized>
        Sign in to get started.
    </NotAuthorized>
    <Authorized>
        Hello @context.User.Identity?.Name!

        <h2 class="pt-4">Tasks</h2>
        <TaskInstanceGrid />
    </Authorized>
</AuthorizeView>


