@page "/properties/{PropertyId:int}/areas"

@using MaintenanceLog.Client.Components.Admin.Areas
@using Microsoft.AspNetCore.Authorization
@using MaintenanceLog.Data.Entities
@using MaintenanceLog.Data.Services

@inject IJSRuntime JsRuntime
@inject IPropertyService PropertyService
@inject IAreaService AreaService

@attribute [Authorize]

<PageTitle>@PropertyName | Areas</PageTitle>

<h3>@PropertyName Areas</h3>

<AreaGrid PropertyId="@PropertyId" />

@code {
    [Parameter]
    public int PropertyId { get; set; }
    private Property? property;

    public string PropertyName => property?.Name ?? "Property";

    protected override async Task OnInitializedAsync()
    {
        property = await PropertyService.FindAsync(PropertyId);
    }
}